.react-joyride__tooltip > div:nth-child(2) {
  margin-top: 0px;
}
@media only screen and (max-width: 960px) {
  .react-joyride__tooltip {
    width: 311px !important;
    padding: 0px !important;
  }
  .react-joyride__tooltip > div:first-child > div:first-child {
    padding: 16px 10px 0px 10px !important;
  }
}

.mobile-progress-wrapper {
  width: 100%;
  height: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
}

.MuiInputBase-inputMultiline {
  color: #949393 !important;
}
