/* .makeStyles-dashboardWrapper-3 {
  height: 114vh !important;
}

body {
  overflow: hidden;
} */

.MuiInput-formControl {
  position: relative;
  height: 100%;
  margin-top: 0;
  padding-left: 20px;
}

.MuiInputBase-input {
  padding-top: 16px;
}

.MuiInputLabel-shrink {
  padding-top: 20px !important;
  padding-left: 28px !important;
  color: #2a3c44 !important;
  font-size: 22px !important;
}
